# ignore all dot files
**/.*

# except
!.gitmodules
!.gitignore
!.editorconfig

# virtualenv
.venv
venv/
ENV/

Pipfile
Pipfile.lock

#custom hiden files
**/_*

#other
nohup.out
__*
___*
*.ipynb_checkpoints
.docs/**
