/*~~~~~~~~~~ fonts  ~~~~~~~~~~*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700,700italic,300italic&subset=latin,cyrillic);*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic);
/*~~~~~~~~~~ lazy reset  ~~~~~~~~~~*/
*{
    margin: 0;
    padding: 0;
}
/*~~~~~~~~~~ page  ~~~~~~~~~~*/
body{
    line-height: 1.5em;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Play', sans-serif;*/
    font-weight: 400;
    color: #555;
}
a{
    font-size: 1.1em;
    text-decoration: none;
    font-family: 'Play', sans-serif;
    color: #17A88F;
}
a:hover{
    text-decoration: underline;
}
ul,ol,li{
    margin-left: .8em;
    list-style-type: none;
    list-style-position: outside;
}
.resources_list_container>ul, .resources_list_container>ul>li{
    margin-left: 0;
}
.resources_list_container{
    margin: 0 auto;
    padding: 0em 2em 2em 0em;
}
.resources_list_container h1{
    margin: 1em 0 .5em 0;
    padding: 0 0 .5em 0;
    text-align: center;
    border-bottom: 2px dotted #DDD;
    font-family: "Play", sans-serif;
    font-size: 1.3em;
    line-height: 1.3;
    color: #999;
}
.resources_list_container h2{
    margin: 1em 0 .5em 0;
    line-height: 1.3em;
    border-bottom: 2px solid #DDD;
    font-family: "Play", sans-serif;
    font-size: 2em;
    color: #999;
}
.resources_list_container h3{
    padding: .5em 0 .4em 0;
    font-family: "Play", sans-serif;
    font-size: 1.3em;
    font-style: italic;
    color: #777;
}
.resources_list_container h3:after{
    content: ":";
}
.resources_list_container li{
    margin-top: .3em;
    margin-bottom: .5em;
}
.disclaimer{
    font-size: 1.2em;
    font-family: "Philosopher", sans-serif;
    font-style: italic;
    /*text-align: center;*/
    /*color: #994A4A;*/
    color: ##CD0027;
}
li>span:before{
    content: " - ";
}
.buzz_word{
    color: #333;
    font-style: italic;
}
