/* ********************************************************************** */
/* Reveal.js themes */
/* ********************************************************************** */
@import "../../../lib/reveal.js/css/theme/beige.css";
/* @import "../../../lib/reveal.js/css/theme/serif.css"; */
/* @import "../../../lib/reveal.js/css/theme/simple.css" */
/* @import "../../../lib/reveal.js/css/theme/sky.css"; */
/*@import "../../../lib/reveal.js/css/theme/solarized.css";*/
/* @import "../../../lib/reveal.js/css/theme/white.css"; */
/* Custom */
@import "../../../outfit/css/reveal.js.css";
/* ********************************************************************** */
/* Code syntax highlighting */
/* ********************************************************************** */
/*@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/obsidian.min.css";*/
@import "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css";
@import "../../../outfit/css/custom_hljs.css";
/* ********************************************************************** */
/* Text formating  */
/* ********************************************************************** */
@import "../../../outfit/css/colorSchemes/light/structuring_elements.css";
@import "../../../outfit/css/colorSchemes/light/text_schemes.css";
